

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!--Styles-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800" rel="stylesheet">

    <!--custom Styles-->
    <link rel="stylesheet" href="{{css}}" />

    <!--End Styles-->

    <link rel="icon" href= "{{icon}}">


</head>
<body>

{{{ body }}}

</body>
</html>
