//Materialize Color 
$primary-color:(#19B5BA) !default;
$secondary-color:(#FF7822);
$main-color:(#19B5BA);
$link-color:(#FF7822);

$gray-color:(#979797);

$header-font: ('Catamaran', sans-serif);



#nav-wrapper{
  background-color:$main-color;
}

h1, h2, h3,{
  color:$primary-color;
  font-family: $header-font;
  text-transform: uppercase;
  line-height: .75em;
}

h3{
  font-size: 1.75em;
}

h4, h5 {
  color: $secondary-color;
  font-family: $header-font;
  text-transform: uppercase;
}

hr{
  color:$gray-color;
}

element {
  color: $secondary-color;
}

a{
  color: $secondary-color;
}

a{
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: $secondary-color;
  }
}

.hero{
  background-image: url("http://res.cloudinary.com/alrod909/image/upload/v1507168771/homeBG-white_bhelgs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo{
  width:100%;
  padding-top:200px;
}

.hero-tag{
  padding-bottom: 200px;
}

.logo-sm{
  height: 60px;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

blockquote {
  color: $primary-color;
}
.tabs .tab a  {

  color: $primary-color;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $primary-color;
}

.tabs .indicator {
  color: $primary-color;
  background-color: $primary-color;
}
//!IMPORTANT User Page Collapsible fix
.collapsible-body{
  padding: 0;
}

.collapsible-header{
  justify-content: space-between;
}
//End IMPORTANT
.img-preview{
  width: 100%;
}

.waves-effect .waves-light .btn{
  width: 100%;
}


.editButtons{
  width: 17%;
}

.material-icons
{
  font-size: 35px;
}

.uploadButton
{
  display:none;
}

.uploadBtn{
  width: 100%;
}

.material-icons{
  font-size:30px;
}

blockquote {
  border-left: 5px solid $primary-color ;
}

#alertModal, #fill-out {
  border-radius: 14px;

}

#modalHead {
  padding: 15px;
  background-color: $primary-color ;
  color: white;
}

.modal-content {
  color: $primary-color ;
}

.modal-action {
  background-color: $primary-color ;
  color: white;
  border-radius: 35px
}

#alertModal, #fill-out {
  border-radius: 14px;

}

.modalHead {
  padding: 15px;
  background-color: $primary-color ;
  color: white;
}

.modal-content {
  color: $primary-color ;
}

.modal-action {
  background-color: $primary-color ;
  color: white;
  border-radius: 35px;
}

.collection .collection-item.avatar i.circle{
  background-color: $secondary-color;
}

.left-bumper {
  margin-left: 20px;
}

.card .card-image .card-title{
  font-family: $header-font;

}

.modal-action{
  background-color: $secondary-color;
}

.reminder-body {
  color: $primary-color;
  font-size: 1.75em;
  font-family: "Catamaran", sans-serif;
  line-height: 1em;
}

.modal {
  max-height: 100%;
}

.medium {
  .material-icons .right{
    h3 .modalHead{
      color: $secondary-color;
    }
  }
}

.bell-reminder{
  color: white;
}