$primary-color:(#19B5BA) !default;
$main-color:(#19B5BA);
$link-color:(#19B5BA);

$gray-color:(#979797);



#nav-wrapper{
  background-color:$main-color;
}

nav{
  height:150px;
}

.collapsible-body{
  padding: 0;
}

.collapsible-header{
  justify-content: space-between;
}

h1, h2, h3, h4, h4{
  color:$primary-color;
}

hr{
  color:$gray-color;
}

a{
  color: $primary-color;
}

 a{
   .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
     color: $link-color;
   }
 }


.hero{
  background-image: url("http://res.cloudinary.com/alrod909/image/upload/v1507168771/homeBG-white_bhelgs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo{
  width:100%;
  padding-top:200px;
}

.hero-tag{
  padding-bottom: 200px;
}

.logo-sm{
  height: 60px;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

blockquote {
  color: $primary-color;
}
.tabs .tab a {
  color: $primary-color;
}



